

  .article-container {
    border: 3px solid $color-2;
    border-radius: 40px;
    margin: 2%;
    width: 40%;
    min-height: 10rem; 
    padding: 1%;
    object-fit: cover;
  }

  .article-header {
    display: flex;
    
  }

  .article-date {
    font-size: 0.9rem;
    font-style:italic;
    color: $color-3-L;
    margin-left: 30%;
  }

  .article-message {
    font-size: 1rem;
    color: $color-3;
    margin: 4%;
    text-align: center;
  }
  .article-foot {
    display: flex;
    justify-content: space-evenly;

    &-like{
      font-size: 1.2rem;
      color:$color-3;
      display: flex;
      
      &-icon{
        margin-right: 0.3rem;
        cursor: pointer;
        &:hover {
          font-size: 1.3rem;
        }
      }

      &-red {
        color: $color-1;
        cursor: pointer;
        &:hover {
          font-size: 1.3rem;
        }
      }
    }

    &-comment{
      font-size: 1.2rem;
      color: $color-3;
      display: flex;
      cursor: pointer;
      &-icon {
        margin-right: 0.3rem;
      }
    }
  }

  .update-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    
    &-icon{
      font-size: 1.2rem;
      color: $color-2;
        cursor: pointer;
        &:hover {
          color: $color-1;
          font-size: 1.3rem;
        }
    }

    &-btn {
      width: 12%;
      margin: 1%;
      font-size: 0.9rem;
      border-radius: 40px;
      background-image: $color-btn;
      padding: 10px;
      text-align: center;
      box-shadow: 3px 3px 1px $shadow;
      cursor: pointer;
    }
  }