header{
    height: 10rem;
    width: 100%;
    overflow: hidden;
  
}
.header-container{
    display: flex;
    justify-content: flex-start;
       
}

.header-container-log{
    display: flex;
   justify-content: space-between;
}

.header-logo{
    height: 25rem;
    position: relative;
    top: -125px;
    
}

.header-logout{
    height: 2.2rem;
    width: 2.2rem;
    margin: 2%;

    color: $color-3-L;
    &:hover{
        color: $color-3;
        height: 2rem;
        width: 2rem;
    }
    
}


@media screen and (max-width: 780px) {
   .header-container{
    display: flex;
    justify-content: center;
   }
   
}