header{
    height: 10rem;
    width: 100%;
    overflow: hidden;
   
}
.header-container{
    display: flex;
    justify-content: flex-start;
       
}

.header-logo{
    height: 25rem;
    position: relative;
    top: -125px;
    
}

.header-logout{
    height: 10rem;
    width: 10rem;
     i {
        color: $color-3;
    }
    &:hover{
        background-color: $color-3-L;
    }
}

@media screen and (max-width: 780px) {
   .header-container{
    display: flex;
    justify-content: center;
   }
   
}