nav{
    height: 10rem;
    width: 100%;
    overflow: hidden;
   
}
.header-container{
    display: flex;
    justify-content: flex-start;
   
    
}
.header-logo{
    height: 25rem;
    position: relative;
    top: -125px;
    
}

@media screen and (max-width: 780px) {
   .header-container{
    display: flex;
    justify-content: center;
   }
   
}