.new-article-container {
    border : 3px solid $color-2;
    border-radius: 40px;
    background-color: $color-2;
    width: 40%;
    height: 10rem;
    min-height: 10rem; 
    margin: 2%;
    padding: 1%;
    text-align: center;

}