   
/* polices */
$font-1: "Lato",serif, sans-serif;
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* couleurs de la chartre graphique de l'entreprise */
$color-1: #FD2D01;
$color-2: #FFD7D7;
$color-3: #4E5166;
$color-3-L: lighten($color-3, 20%);
$black: rgb(40, 40, 40);
$white: rgb(253, 253, 253);
$shadow: rgb(167, 164, 164);
$shadow-hover: darken($shadow, 8%);
$color-btn: linear-gradient(to bottom right, $color-2,$color-3-L);
$color-btn-click: linear-gradient(to bottom right, $color-1,$color-2);
$color-bg : linear-gradient(to bottom right, $white,$color-3-L);

@mixin btn{
  margin: 40px;
  font-size: 1.5rem;
  border-radius: 40px;
  background-image: $color-btn;
  padding: 10px;
  text-align: center;
  box-shadow: 3px 3px 1px $shadow;
  width: 30%;
  cursor: pointer;
}

@mixin btn-hover{
  box-shadow: 5px 5px 2px darken($color: $shadow-hover, $amount: 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  
}

.body{
  font-family: $font-1;
  font-size: 1rem;
 width: 97%;
 
}

a,
a:visited {
  color: $color-1;
}
input{
  resize: none;
  border-radius: 40px;
  width: 50%;
  height: 1rem;
  padding: 22px;
  font-family: $font-1;
  background: $white;
  &:focus {
    box-shadow: 3px 3px 4px $shadow;
  }
}

input[type="checkbox"] {
  box-shadow: none;
  width: 20px;
  margin: 10px 0;
}
i {
  transition: 0.15s;

  &:hover {
    transform: scale(1.1);
  }
}

.error {
  color: red;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
} 
