.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;

}
label{
  font-family:$font-1;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1%;
}
.checkbox{
  font-size: 1rem;
}
.form-password{
  font-size: 0.8rem;
  padding: 0.5%;
}
button[type="submit"] {
  padding: 1rem;
    background: $color-2;
    color: $color-1;
    font-family: $font-1;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.8rem;
    border-radius: 40px;

    &:hover {
      background-image: $color-btn-click;
      color: $black;
    }

}
span{
  display: flex;
  justify-content: center;
}