.signin-form{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

button[type="submit"] {
    background: $color-2;
    color: $color-1;
    font-family: $font-1;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 40px;
    margin: 2%;
    

    &:hover {
      background-image: $color-btn-click;
      color: $black;
    }

}

